.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 80px;
    background: #fff;
}

.nav-items>ul{
    list-style-type: none;
    display: flex;
}

.nav-items>ul>li{
    list-style-type: none;
    display: flex;
    padding: 10px;
}

img {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.logo {
    max-width: 400px;
    display: flex;
    align-items: center;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 90px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .restaCard{
    width: 200px;
    padding : 10px;
    margin: 10px;
    border: 1px solid black;
     
  }

  .restaCard > img{
    width: 100%;
  }
  
  .card-title {
    font-size: 17px;
    font-weight: 500;
    word-break: break-word;
  }
  
  .card-tags {
    color: #686b78;
      font-size: 13px;
      margin-top: 4px;
  }
  
  .card-rating {
    background-color: #db7c38;
    color: #fff;
  }
  .restaList{
    display: flex;
    flex-wrap: wrap;
  }
  
/* Responsive layout */
@media (max-width: 800px) {
    .header {
      flex-direction: column;
      width : auto;
      height : auto;
    }
}